[submodule "Atlas-SMR-Execution"]
	path = Atlas-SMR-Execution
	url = https://github.com/nuno1212s/Atlas-SMR-Execution.git
[submodule "Atlas-SMR-Application"]
	path = Atlas-SMR-Application
	url = https://github.com/nuno1212s/Atlas-SMR-Application.git
[submodule "Atlas-SMR-Replica"]
	path = Atlas-SMR-Replica
	url = https://github.com/nuno1212s/Atlas-SMR-Replica.git
[submodule "Atlas-View-Transfer"]
	path = Atlas-View-Transfer
	url = https://github.com/nuno1212s/Atlas-View-Transfer.git
[submodule "Atlas-Tools"]
	path = Atlas-Tools
	url = https://github.com/nuno1212s/Atlas-Tools.git
[submodule "Atlas-SMR-Core"]
	path = Atlas-SMR-Core
	url = git@github.com:nuno1212s/Atlas-SMR-Core.git
[submodule "Atlas-Examples"]
	path = Atlas-Examples
	url = git@github.com:nuno1212s/Atlas-Examples.git
